     <div class="content">
        <div class="cards">
          <div class="card">
        
         <div class="card__side card__side--front card__side--front-1"> 
        
        <div class="product-col-1 height-templates" data-type="{{ product.type | downcase }}">
          {% if product.available %}
            <div class="product-avaliable">Available</div>
          {% else %}
            <div class="product-avaliable">Sold</div>
          {% endif %}
          
         <div class="relative_img">
         <img alt="{{ product.title }}" class="prd-img" src="{{ product.featured_image | img_url: 'large' }}"/>
          <div class="badge left">
          {{ collection.title }}
          </div>
          <div class="badge rights">
          <a href="#">
          <img src="https://cdn.shopify.com/s/files/1/0694/0314/8465/files/Group_620.png?v=1745422926" />
          </a>
          </div> 
          {% comment %}
          <div class="badge left">
          {{ product.collections.first.title | default: "Vehicle" }}
         </div>
         {% endcomment %}
         </div>
        {% assign truncated_title = product.title | truncate: 20, '' %}
        <div class="product-col-title">{{ truncated_title }}{% if product.title.size > 20 %}...{% endif %}</div>
        <div class="product-details-provance product-b-top">
          {% if collection.title == "Parts" or collection.title == "Drip" %}
            {% comment %}
  <div class="cl-title">Description</div>
          {% endcomment %}
                     <div class="cl-description parts-descriptions">
            {% if product.metafields.custom.provenance != blank %}
            {{ product.metafields.custom.provenance | truncate: 100, "..." }}
            {% else %}
            None
            {% endif %}  
          </div>
            {% comment %}
             <div class="cl-description parts-descriptions">
            {% if product.metafields.custom.description != blank %}
            {{ product.metafields.custom.description | truncate: 100, "..." }}
            {% else %}
            None
            {% endif %}  
          </div> 
          {% endcomment %}      
{% else %}
            {% comment %}
  <div class="cl-title">Provenance</div>
           {% endcomment %}
          <div class="cl-description parts-descriptions">
            {% if product.metafields.custom.provenance != blank %}
            {{ product.metafields.custom.provenance | truncate: 100, "..." }}
            {% else %}
            None
            {% endif %}  
          </div>
{% endif %}
        </div>
                <!--
          <div class="product-details-col product-b-top product-b-bottom">
          <div class="cl-title">Fact 1</div>
          <div class="cl-description">
            {% if product.metafields.custom.fact1 %}
              {{ product.metafields.custom.fact1 }}
            {% else %}
              None
            {% endif %}
          </div>  
          </div>
          
          <div class="product-details-col product-b-bottom mar-bottom">
          <div class="cl-title">Fact 2</div>
          <div class="cl-description">
          {% if product.metafields.custom.fact2 %}
          {{ product.metafields.custom.fact2 }}
          {% else %}
          None
          {% endif %}
          </div>  
          </div> 
 -->
        <div class="button-product desktop-section-hide margin-button-bottom"><a href="{{ product.url }}" class="button--main">More info</a></div>
        </div>
          </div>
        <div class="card__side card__side--back card__side--back-1">
                        <div class="product-col-2 height-templates">
                        <div class="product-avaliable">
                         {% if product.available %}
                            <div class="product-avaliable">Available</div>
                          {% else %}
                            <div class="product-avaliable">Sold</div>
                          {% endif %}
                        </div>
                        <div class="relative_img">
                          {% assign second_image = product.images[1] %}
                         <img alt="{{ product.title }}" class="prd-img" src="{% if second_image %}{{ second_image | img_url: 'large' }}{% else %}{{ product.featured_image | img_url: 'large' }}{% endif %}" />
                                  <div class="badge right">
                          {{ collection.title }}
                         </div>
                         <div class="badge lefts">
                          <a href="#">  
                          <img src="https://cdn.shopify.com/s/files/1/0694/0314/8465/files/Group_620.png?v=1745422926" />
                          </a>  
                         </div>                  
        {% comment %}
                          <div class="badge right">
                          {{ latest_product.collections.first.title | default: "Vehicle" }}
                         </div>
                         {% endcomment %}
                         </div>
                        <div class="product-col-title white-color">Details</div>
                          
                          <div class="product-details-col product-b-top product-b-bottom white-color">
                          <div class="cl-title white-color">Price</div>
                            {% if product.price == blank or product.price == 0 %}
                              <div class="cl-description white-color">
                               None
                              </div>  
                            {% else %}
                               <div class="cl-description white-color">
                            {{ product.price | money }}
                               </div>
                            {% endif %}
                     {% comment %}
                            {% if product.metafields.custom.fact1 %}
                             <div class="cl-description white-color">
                              {{ product.metafields.custom.fact1 }}
                             </div>
                            {% else %}
                              <div class="cl-description white-color">
                              None
                              </div>  
                            {% endif %} 
                     {% endcomment %}
                          </div>
                          
                          <div class="product-details-col product-b-bottom white-color mar-bottom">
                          <div class="cl-title white-color">Mics Fact</div>
                          <div class="cl-description white-color">
                            {% if product.metafields.custom.fact1 %}
                            <div class="cl-description white-color">
                              {{ product.metafields.custom.fact1 }}
                            </div>
                            {% else %}
                            <div class="cl-description white-color">
                              None
                            </div>
                            {% endif %}  
                            
                          </div>  
                          </div> 
                       <!--   
                         <div class="product-details-col product-b-top product-b-bottom white-color">
                          <div class="cl-title white-color">Fact 3</div>
                            {% if product.metafields.custom.fact1 %}
                             <div class="cl-description white-color">
                              {{ product.metafields.custom.fact1 }}
                             </div>
                            {% else %}
                              <div class="cl-description white-color">
                              None
                              </div>  
                            {% endif %} 
                          </div>
                          
                          <div class="product-details-col product-b-bottom white-color">
                          <div class="cl-title white-color">Fact 4</div>
                          <div class="cl-description white-color">
                            {% if product.metafields.custom.fact2 %}
                            <div class="cl-description white-color">
                              {{ product.metafields.custom.fact2 }}
                            </div>
                            {% else %}
                            <div class="cl-description white-color">
                              None
                            </div>
                            {% endif %}  
                            
                          </div>  
                          </div>  
                          -->
                          <div class="button-carts-all">
                          <div class="button-product"><a href="{{ product.url }}" class="button--main">View full listing</a></div>
                          <div class="button-product">
                          <form method="post" action="/cart/add">
                            <input type="hidden" name="id" value="{{ product.variants.first.id }}">
                            <button type="submit" class="button--main cart-button" style="display:none;">Add to cart</button>
                          </form>
                        </div>
                        </div>
                      </div>
          
        </div>  
            
     </div> 
        </div>
</div>