{% schema %}
{
  "name": "Hero Banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Hero Image"
    },
    {
      "type": "text",
      "id": "heading_text",
      "label": "Heading Text",
      "default": "ROVER VAULT"
    },
    {
      "type": "image_picker",
      "id": "heading_image",
      "label": "Image Next to Heading"
    },
    {
      "type": "text",
      "id": "subheading_text",
      "label": "Subheading Text",
      "default": "CARS • PARTS • ART • DRIP"
    },
    {
      "type": "image_picker",
      "id": "subheading_image",
      "label": "Image Next to Subheading"
    },
    {
      "type": "image_picker",
      "id": "badge_image",
      "label": "Badge Image (e.g. Hemmings)"
    },
    {
    "type": "url",
    "id": "badge_link",
    "label": "Badge Link"
  }
  ],
  "presets": [
    {
      "name": "Hero Banner"
    }
  ]
}
{% endschema %}


  <div class="custom-hero-banner">
    {% if section.settings.banner_image %}
      <img
        src="{{ section.settings.banner_image | img_url: 'master' }}"
        alt="Hero Image"
        class="hero-banner-img"
      />
    {% endif %}

    <div class="hero-content">
      <div class="page-width">


       <div class="hero-contant-inner"> 
      <div class="hero-heading">
        <div class="banner-txt">
        <div class="font-vvds hero-main-text">{{ section.settings.heading_text}}</div>
        <div class="font-vvds hero-sub-text">{{ section.settings.subheading_text}}</div>
        </div>
        {% if section.settings.heading_image %}
          <!--<img
            class="hero-heading-img"
            src="{{ section.settings.heading_image | img_url: 'master' }}"
            alt="Heading Image"
          />-->
        {% endif %}
      </div>
     
      <div class="hero-subheading" style="display:none;">
        {% if section.settings.subheading_image %}
          <img
            class="hero-subheading-img"
            src="{{ section.settings.subheading_image | img_url: 'master' }}"
            alt="Subheading Image"
          />
        {% endif %}
      </div>
    </div>
    
</div>
    
   </div>
{% if section.settings.badge_image %}
      <div class="hemings-badge">
        <div class="page-width">
            <div class="hemings-badge-inner">
      <!--<span>  Listed on:<span><br />-->
      {% assign link = section.settings.badge_link | default: '#' %}
      <a href="{{ link }}" target="_blank">
        <img
          src="{{ section.settings.badge_image | img_url: 'master' }}"
          alt="Badge"
        />
      </a> 
      </div>
      </div>
      </div>
    {% endif %}
  </div>

<style>
.custom-hero-banner {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top:-66px;
}

.font-vvds.hero-main-text {
    text-align: center;
    color: #6B8D50;
    font-size: 13.2rem;
    text-decoration: none;
    cursor: pointer;
    padding: 20px;
    margin: 0 auto;
    display: inline-block;
    background-color: #ebe9d5;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.font-vvds.hero-sub-text {
    text-align: center;
    color: #6B8D50;
    font-size: 4.2rem;
    text-decoration: none;
    cursor: pointer;
    padding: 13px 20px;
    margin: 0 auto;
    display: inline-block;
    background-color: #ebe9d5;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.banner-txt {
    width: 70%;
}
.hero-banner-img {
  width: 100%;
  height: auto;
  display: block;
}

.hero-content {
    position: absolute;
    top: 20px;
    right: 0px;
    text-align: right;
    color: white;
   padding-top: 45px;
/*    padding-right: 45px;
    padding-left: 15px; */
    width:100%;
/*    max-width: 500px; */
   
}

.hero-contant-inner{
/* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.1));*/
 padding:40px 0px;
     width: fit-content;
    margin-left: auto;
}

.hero-heading,
.hero-subheading {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding-bottom: 10px;
}

.hero-heading h1 {
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}

.hero-subheading p {
  font-size: 20px;
  letter-spacing: 2px;
  margin: 0;
}

.hero-heading-img,
.hero-subheading-img {
  display: block;
  height: auto;
  width: auto;
  max-width: 100%;
}

.hemings-badge {
  display:inline-block;
    margin-top: 0px;
    font-size: 20px;
    width:100%;
    position: absolute;
    bottom: 0px;
    font-weight:600;
    left: 0px;
    color: white;
    padding: 10px 10px 0px 15px;
    font-family:'VVDS Fifties';
   /* background:linear-gradient(to right, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.1)); */
}

.hemings-badge img {
  margin-top: 5px;
}

/* Responsive */
@media (max-width: 767px) {
  .hero-content {
    top: 40px;
    right: 20px;
    padding: 0 10px;
  }

  .hero-banner-img{
  height:585px;
  object-fit: cover;
  }
    .hero-content {
    right:0px;
    }

  .hero-heading,
  .hero-subheading {
    flex-direction: column;
    align-items: flex-end;
  }

  .hero-heading h1 {
    font-size: 36px;
  }

  .hero-subheading p {
    font-size: 16px;
  }

  .hemings-badge {
    bottom: 20px;
    left: -10px;
  }
}
</style>
