{% schema %}
{
  "name": "Hero Banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Hero Image"
    },
    {
      "type": "text",
      "id": "heading_text",
      "label": "Heading Text",
      "default": "ROVER VAULT"
    },
    {
      "type": "image_picker",
      "id": "heading_image",
      "label": "Image Next to Heading"
    },
    {
      "type": "text",
      "id": "subheading_text",
      "label": "Subheading Text",
      "default": "CARS • PARTS • ART • DRIP"
    },
    {
      "type": "image_picker",
      "id": "subheading_image",
      "label": "Image Next to Subheading"
    },
    {
      "type": "image_picker",
      "id": "badge_image",
      "label": "Badge Image (e.g. Hemmings)"
    }
  ],
  "presets": [
    {
      "name": "Hero Banner"
    }
  ]
}
{% endschema %}

<div class="page-width"> 
  <div class="custom-hero-banner" style="background-image: url({{ section.settings.banner_image | img_url: 'master' }});">
    
    <div class="hero-content">
      <div class="hero-heading">
        {% comment %}
        <h1>{{ section.settings.heading_text }}</h1>
        {% endcomment %}
        {% if section.settings.heading_image %}
          <img class="hero-heading-img" src="{{ section.settings.heading_image | img_url: 'master' }}" alt="Heading Image" />
        {% endif %}
      </div>

      <div class="hero-subheading">
        {% comment %}
        <p>{{ section.settings.subheading_text }}</p>
        {% endcomment %}
        {% if section.settings.subheading_image %}
          <img class="hero-subheading-img" src="{{ section.settings.subheading_image | img_url: 'master' }}" alt="Subheading Image" />
        {% endif %}
      </div>
    </div>

    {% if section.settings.badge_image %}
      <div class="hemings-badge">
        Listed on:<br>
        <img src="{{ section.settings.badge_image | img_url: 'master' }}" alt="Badge">
      </div>
    {% endif %}

  </div>
</div>

<style>
.custom-hero-banner {
    background-size: contain;
    background-position: center;
    height: 600px;
    position: relative;
    display: block;
    background-repeat: no-repeat;
    padding-right: 5%;
    color: white;
}
.hero-content {
    max-width: 500px;
    position: absolute;
    top: 80px;
    right: 60px;
    text-align: right;
}

.hero-heading, .hero-subheading {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    padding-bottom:20px;
}

.hero-heading h1 {
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}

.hero-subheading p {
  font-size: 20px;
  letter-spacing: 2px;
  margin: 0;
}

.hero-heading-img, .hero-subheading-img {
  height: auto;
  width: auto;
}

.hemings-badge {
    margin-top: 20px;
    font-size: 14px;
    position: absolute;
    bottom: 40px;
    left: 20px;
}

.hemings-badge img {
  height: 30px;
  margin-top: 5px;
}
</style>
