{% schema %}
{
  "name": "Home Product Collection",
  "settings": [],
  "blocks": [
    {
      "type": "product_card",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Select product"
        }
      ]
    }
  ],
  "max_blocks": 10,
  "presets": [{
    "name": "Home Product Collection"
  }]
}
{% endschema %}
    <div class="page-width">
<section class="content">
  <div class="cards">
    <div class="card">
      <div class="card__side card__side--front card__side--front-1">
        <div class="card__description">1</div>
      </div>
      <div class="card__side card__side--back card__side--back-1">
        <div class="card__description"><svg width="24" height="24" viewBox="0 0 24 24">
          <path d="M10.5,18A0.5,0.5 0 0,1 11,18.5A0.5,0.5 0 0,1 10.5,19A0.5,0.5 0 0,1 10,18.5A0.5,0.5 0 0,1 10.5,18M13.5,18A0.5,0.5 0 0,1 14,18.5A0.5,0.5 0 0,1 13.5,19A0.5,0.5 0 0,1 13,18.5A0.5,0.5 0 0,1 13.5,18M10,11A1,1 0 0,1 11,12A1,1 0 0,1 10,13A1,1 0 0,1 9,12A1,1 0 0,1 10,11M14,11A1,1 0 0,1 15,12A1,1 0 0,1 14,13A1,1 0 0,1 13,12A1,1 0 0,1 14,11M18,18C18,20.21 15.31,22 12,22C8.69,22 6,20.21 6,18C6,17.1 6.45,16.27 7.2,15.6C6.45,14.6 6,13.35 6,12L6.12,10.78C5.58,10.93 4.93,10.93 4.4,10.78C3.38,10.5 1.84,9.35 2.07,8.55C2.3,7.75 4.21,7.6 5.23,7.9C5.82,8.07 6.45,8.5 6.82,8.96L7.39,8.15C6.79,7.05 7,4 10,3L9.91,3.14V3.14C9.63,3.58 8.91,4.97 9.67,6.47C10.39,6.17 11.17,6 12,6C12.83,6 13.61,6.17 14.33,6.47C15.09,4.97 14.37,3.58 14.09,3.14L14,3C17,4 17.21,7.05 16.61,8.15L17.18,8.96C17.55,8.5 18.18,8.07 18.77,7.9C19.79,7.6 21.7,7.75 21.93,8.55C22.16,9.35 20.62,10.5 19.6,10.78C19.07,10.93 18.42,10.93 17.88,10.78L18,12C18,13.35 17.55,14.6 16.8,15.6C17.55,16.27 18,17.1 18,18M12,16C9.79,16 8,16.9 8,18C8,19.1 9.79,20 12,20C14.21,20 16,19.1 16,18C16,16.9 14.21,16 12,16M12,14C13.12,14 14.17,14.21 15.07,14.56C15.65,13.87 16,13 16,12A4,4 0 0,0 12,8A4,4 0 0,0 8,12C8,13 8.35,13.87 8.93,14.56C9.83,14.21 10.88,14 12,14M14.09,3.14V3.14Z"></path>
          </svg></div>
      </div>
    </div>
  </div>
</section>

      
    <div class="collection-slider-section">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          {% for block in section.blocks %}
            {% assign product = block.settings.product %}
            {% if product %}
              <div class="swiper-slide">
                 <div class="card-wrapper">

                     <div class="card_front">
                      <div class="product-col-1">
                        <div class="product-avaliable">Avaliable</div>
                         <div class="relative_img">
                         <img alt="{{ product.title }}" class="prd-img" src="{{ product.featured_image | img_url: 'large' }}"/>
                         <div class="badge left">
                          {{ product.collections.first.title | default: "Vehicle" }}
                         </div>
                         </div>
                          <div class="product-col-title">{{ product.title }}</div>
                          <div class="product-details-col product-b-top product-b-bottom">
                          <div class="cl-title">Engine</div>
                          <div class="cl-description">
                            {% if product.metafields.vehicles_main.engine %}
                              {{ product.metafields.vehicles_main.engine }}
                            {% else %}
                              None
                            {% endif %}
                          </div>  
                          </div>
                          <div class="product-details-col product-b-bottom">
                          <div class="cl-title">Transmission</div>
                          <div class="cl-description">
                          {% if product.metafields.vehicles_main.transmission %}
                          {{ product.metafields.vehicles_main.transmission }}
                          {% else %}
                          None
                          {% endif %}
                          </div>  
                          </div> 
                          <div class="product-details-col product-b-bottom">
                          <div class="cl-title">Mileage</div>
                          <div class="cl-description">
                          {% if product.metafields.vehicles_main.milage %}
                          {{ product.metafields.vehicles_main.milage }}
                          {% else %}
                          None
                          {% endif %}
                          </div>  
                          </div> 
                          <div class="product-details-col product-b-bottom">
                          <div class="cl-title">Misc.</div>
                          <div class="cl-description">
                          {% if product.metafields.vehicles_main.transmission %}
                          {{ product.metafields.vehicles_main.transmission }}
                          {% else %}
                          None
                          {% endif %}
                          </div>  
                          </div> 
                          <div class="product-details-col product-b-bottom mar-bottom">
                          <div class="cl-title">Heritage</div>
                          <div class="cl-description">
                          {% if product.metafields.vehicles_main.transmission %}
                          {{ product.metafields.vehicles_main.transmission }}
                          {% else %}
                          None
                          {% endif %}
                          </div>  
                          </div> 
                          <div class="button-product desktop-section-hide margin-button-bottom"><a href="/collections/all" class="button--main">View full listing</a></div>
                      </div>
                     </div>
                     <div class="card_details">
                      <div class="product-col-2 mobile-section-hide">
                        <div class="product-avaliable">Avaliable</div>
                        <div class="relative_img">
                          {% assign second_image = product.images[1] %}
                         <img alt="{{ product.title }}" class="prd-img" src="{% if second_image %}{{ second_image | img_url: 'large' }}{% else %}{{ product.featured_image | img_url: 'large' }}{% endif %}" />
                         <div class="badge right">
                          {{ product.collections.first.title | default: "Vehicle" }}
                         </div>
                         </div>
                        <div class="product-col-title white-color">Details</div>
                          <div class="product-details-col product-b-top product-b-bottom white-color">
                          <div class="cl-title white-color">Interior Color</div>
                          {% if product.metafields.vehicles_main.interior %}
                            <div class="cl-description white-color">
                              {{ product.metafields.vehicles_main.interior }}
                            </div>
                            {% else %}
                            <div class="cl-description white-color">
                              None
                            </div>
                            {% endif %}  
                          </div>
                          <div class="product-details-col product-b-bottom white-color">
                          <div class="cl-title white-color">Upholstery</div>
                          <div class="cl-description white-color">
                            {% if product.metafields.vehicles.body_color %}
                            <div class="cl-description white-color">
                              {{ product.metafields.vehicles.body_color }}
                            </div>
                            {% else %}
                            <div class="cl-description white-color">
                              None
                            </div>
                            {% endif %}  
                            
                          </div>  
                          </div>
                          <div class="product-details-col product-b-bottom white-color">
                          <div class="cl-title white-color">Exterior Color</div>
                          <div class="cl-description white-color">
                            {% if product.metafields.vehicles.body_color %}
                            <div class="cl-description white-color">
                              {{ product.metafields.vehicles.body_color }}
                            </div>
                            {% else %}
                            <div class="cl-description white-color">
                              None
                            </div>
                            {% endif %}  

                            
                          </div>  
                          </div>
                        
                          <div class="button-product"><a href="/collections/all" class="button--main">View full listing</a></div>
                      </div>
                     </div>
                 </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
    

      </div>
                    <!-- Slider navigation -->
  <div class="swiper-controls-wrap">
    <div class="slider-controls">
  <div class="swiper-button-prev">
<svg width="67" height="46" viewBox="0 0 67 46" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M24 3L4 23M4 23L24 43M4 23H64" stroke="#6B8D50" stroke-width="5" stroke-linecap="round"/>
</svg>

</div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-next">
<svg width="67" height="46" viewBox="0 0 67 46" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M43 3L63 23M63 23L43 43M63 23H3" stroke="#6B8D50" stroke-width="5" stroke-linecap="round"/>
</svg>

</div>
</div>
  </div>
    </div>

    </div>
    
    <!-- Swiper JS (Add this only once per theme if not already included) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        new Swiper('.mySwiper', {
          slidesPerView: 2,
          spaceBetween: 30,
          loop: true,
          pagination: {
            el: ".swiper-pagination",
            clickable: true,
          },
          navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
          },
          breakpoints: {
            768: {
              slidesPerView: 1
            },
            1024: {
              slidesPerView: 2
            }
          }
        });
      });
    </script>
    
    <style>

.content {
  height: 100vh;
  text-align: center;
  padding: 4em 0;
}

.cards {
  display: flex;
  justify-content: space-evenly;
}

.card {
  width: 100%;
  position: relative;
  height: 25em;
  perspective: 150em;
}
.card__side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25em;
  backface-visibility: hidden;
  transition: all 0.6s ease;
  box-shadow: 1em 1em 2em rgba(0, 0, 0, 0.2);
}
.card__side--front {
  background-color: #FFF;
}
.card__side--back {
  color: #FFF;
  transform: rotateY(180deg);
}
.card__side--back-1 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}
.card__side--back-2 {
  background-image: linear-gradient(to right bottom, #2998FF, #5643FA);
}
.card__side--back-3 {
  background-image: linear-gradient(to right bottom, #FFB900, #FF7730);
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotate(0);
}
.card__description {
  text-transform: uppercase;
  font-size: 5em;
  padding: 1em 0;
}
.card__description svg {
  width: 1.5em;
  height: 1.5em;
  fill: #FFF;
}
        
.desktop-section-hide {
    display: none !important;
}
.white-color {
    color: white !important;
        border-color:white !important
}
.button-product .button--main {
    font-family: 'Eczar';
    font-size: 20px;
}
  .button-product {
    display: flex;
    position: relative;
    margin: 0 auto;
    justify-content: center;
    margin-top: 4rem;
}
.mar-bottom {
    margin-bottom: 4rem !important;
}
.relative_img {
    position: relative;
}
      .product-b-top {
    border-top: 5px solid #6B8D50;
}
      .product-b-bottom {
    border-bottom: 5px solid #6B8D50;
}
      .badge.left {
    position: absolute;
    left: 15px;
    top: 20px;
    background-color: #C18A14;
    color: white;
    border-radius: 0px;
    padding: 10px 15px;
    font-family: 'Eczar';
    font-size: 16px;
}
      .cl-description {
    font-family: 'Eczar';
    font-size: 20px;
      color:#6B8D50;     
}
      .product-details-col {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
    align-items:center;    
}
      .cl-title {
    font-family: 'VVDS Fifties';
    font-size: 40px;
    color:#6B8D50;    
}
            .badge.right {
    position: absolute;
    left: 15px;
    top: 20px;
    background-color: #C18A14;
    color: white;
    border-radius: 0px;
    padding: 10px 15px;
    font-family: 'Eczar';
    font-size: 16px;
}
      .product-col-title {
    text-align: center;
    font-family: VVDS Fifties;
    font-size: 65px;
    color: #6B8D50;
}
      .product-avaliable {
    background-color: #6B8D50;
    text-align: center;
    color: white;
    font-family: VVDS Fifties;
    font-size: 24px;
}
  .main-product-section .prd-img {
    width: 100%;
    height: 300px;
}
 .product-col-1{
   width:100%;
 border: 5px solid rgba(var(--color-secondary-button-text));
 }     
.product-col-2{
  width:100%;
   border: 5px solid rgba(var(--color-secondary-button-text));
  background-color:#6B8D50;
}

  .swiper-controls-wrap .swiper-button-prev{
    display: block  !important;
}

        .swiper-controls-wrap .swiper-button-prev svg{
    width: 5rem;
}
  .swiper-controls-wrap .swiper-button-prev:after{
    display: none  !important;
}


.swiper-controls-wrap .swiper-button-next{
    display: block  !important;
}

      .swiper-controls-wrap .swiper-button-next svg{
    width: 5rem;
}


.swiper-controls-wrap .swiper-button-next:after{
    display: none  !important;
}

.swiper-pagination-bullet{
  width: 2.25rem;
  height: 2.25rem;
  border: 5px solid #6B8D50;
  background: transparent !important;
}

.swiper-pagination-bullet-active{
 
  position: relative;
}

.swiper-pagination-bullet-active:after{
  content: '';
    width: .75rem;
    height: 0.75rem;
    border-radius: 50%;
    background: #6B8D50 !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    position: absolute;
}


@media only screen and (max-width: 767px) {

.main-product-section {
    display: block;
    width: 96%;
    margin: 0 auto;
}
  .mobile-section-hide {
    display: none;
}
  .desktop-section-hide {
        display: inline-block !important;
        width: 100%;
        text-align: center;
        margin-bottom: 3rem;
        margin-top: 0px !important;
    }
 .cl-title{
   font-size: 30px;
 } 
 .cl-description{
       font-size: 15px;
 } 
  .swiper-controls-wrap .swiper-button-prev {
    display: none !important;
}
  .swiper-controls-wrap .swiper-button-next {
    display: none !important;
}
}
    </style>

